.mapContainer {
  height: 241px;
  width: 801px;
}

.hotelInfoContainer {
  width: 250px;
  font-family: Arial, Helvetica, sans-serif;
}

.Contact {
  font-weight: 700;
}

.walkingScoreContainer {
  display: flex;
  flex-direction: column;
}

.walkingScore {
  font-size: 42px;
  font-weight: 700;
  color: #078171;
}

.walkingScore1 {
  font-size: 18px;
  font-weight: 100;
  color: #078171;
}

.walkingScore2 {
  font-size: 12px;
  font-weight: 100;
  color: black;
}

.restaurantHeaderContainer {
  display: flex;
}

.restaurantsContainer {
  width: 250px;
  font-family: Arial, Helvetica, sans-serif;
}

.restaurantCount {
  font-size: 42px;
  font-weight: 700;
  color: #ff6500;
}

.attractionsContainer {
  width: 250px;
  font-family: Arial, Helvetica, sans-serif;
}

.attractionsCount {
  font-size: 42px;
  font-weight: 700;
  color: #006699;
}

.locationsContainer {
  display: flex;
  font-family: Arial;
}

​ h2 {
  font-family: Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
  color: #000a12;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 28px !important;
  font-weight: 700;
}

​ .wrapper2 {
  font-family: Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
  color: #000a12;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 28px !important;
  font-weight: 700;
}

.locationWrapper {
  width: 812px;
  background: white;
}